[submodule ".clone/path/tmux-resurrect"]
    path = .clone/path/tmux-resurrect 
    url = https://github.com/tmux-plugins/tmux-resurrect 

[submodule ".clone/path/tmux-continuum"]
    path = .clone/path/tmux-continuum
    url = https://github.com/tmux-plugins/tmux-continuum 

[submodule ".oh-my-zsh"]
    path = .oh-my-zsh
    url = https://github.com/ohmyzsh/ohmyzsh
