[submodule ".vim/bundle/Vundle.vim"]
    path = .vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim

[submodule ".vim/bundle/jedi-vim"]
    path = .vim/bundle/jedi-vim
    url = https://github.com/davidhalter/jedi-vim

[submodule ".vim/bundle/supertab"]
    path = .vim/bundle/supertab
    url = https://github.com/ervandew/supertab

[submodule ".vim/bundle/vim-autoformat"]
    path = .vim/bundle/vim-autoformat
    url = https://github.com/Chiel92/vim-autoformat

[submodule ".vim/bundle/vim-fugitive"]
    path = .vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive

[submodule ".vim/bundle/ale"]
    path = .vim/bundle/ale
    url = https://github.com/w0rp/ale

[submodule ".vim/bundle/prettier"]
    path = .vim/bundle/prettier
    url = https://github.com/prettier/prettier

[submodule ".vim/bundle/asyncrun.vim"]
    path = .vim/bundle/asyncrun.vim
    url = https://github.com/skywind3000/asyncrun.vim

[submodule ".vim/bundle/vim-node"]
    path = .vim/bundle/vim-node
    url = https://github.com/moll/vim-node

[submodule ".vim/bundle/vim-obsession"]
    path = .vim/bundle/vim-obsession
    url = https://github.com/tpope/vim-obsession

[submodule "clone/path/tmux-resurrect"]
    path = clone/path/tmux-resurrect 
    url = https://github.com/tmux-plugins/tmux-resurrect 

[submodule "clone/path/tmux-continuum"]
    path = clone/path/tmux-continuum
    url = https://github.com/tmux-plugins/tmux-continuum 

[submodule ".vim/pack/default/start/vim-polyglot"]
    path = .vim/pack/default/start/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot

[submodule ".vim_runtime"]
    path = .vim_runtime
    url = https://github.com/amix/vimrc

[submodule ".oh-my-zsh"]
    path = .oh-my-zsh
    url = https://github.com/ohmyzsh/ohmyzsh
